* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

<<<<<<< HEAD
h2 {
  font-family: Monaco;
  text-align: center;
  font-size: smaller;
}

h3 {
  text-align: center;
  font-size: 30px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 11px;
  color: rgb(95, 107, 131);
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.7;
}

=======
>>>>>>> jayden_branch
body {
  min-height: 100vh;
  background-color: #CAE8FF;
  background-size: cover;
  background-position: center;
}

<<<<<<< HEAD
.about_title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about_text {
  width: 130ch;
  text-align: center;
  margin-left: 19.5%
}

.about_square_1 {
  margin-top: 60px;
  margin-left: 250px;
  width: 700px;
  height: 400px;
  background-color: #def0fc;
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.2);
}

.about_square_2 {
  margin-top: -100px;
  margin-left: 580px;
  width: 500px;
  height: 380px;
  background-color: #c1def2;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);
}

.about_square_3 {
  margin-top: -60px;
  margin-left: 200px;
  width: 620px;
  height: 370px;
  background-color: #edf1df;
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.2);
}

.about_square_title {
  text-align: left;
  margin-left: 8%;
}

.about_square_title_2 {
  text-align: left;
  margin-left: 10%;
}

.about_square_title_3 {
  text-align: left;
  margin-left: 8%;
}

.about_square_subtitle {
  text-align: left;
  margin-left: 8%;
}

.about_square_subtitle_2 {
  text-align: left;
  margin-left: 10%;
}

.about_square_subtitle_3 {
  text-align: left;
  margin-left: 8%;
}

.about_square_text {
  text-align: left;
  width: 100ch;
  margin-left: 8%;
}

.about_square_text_2 {
  text-align: left;
  width: 67ch;
  margin-left: 10%;
}

.about_square_text_3 {
  text-align: left;
  width: 84ch;
  margin-left: 8%;
}

=======
>>>>>>> jayden_branch
.header a {
  font-weight: lighter;
}

.header {
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  display: flex;
  justify-content: flex-start;
  font-size: 32px;
  color: rgb(43, 59, 88);
  text-decoration: none;
  font-weight: 700;
}

.nav-bar a {
  position: relative;
  font-size: 18px;
  color: rgb(43, 59, 88);
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.nav-bar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(43, 59, 88);
  transition: 0.3s;
}

.nav-bar a:hover::before {
  width: 100%;
}

.container {
  margin-left: 6em;
  margin-top: 3em;
}

.slogan {
  padding: 40px;
  width: 50%;
  background-color: #80b8e3;
  border-radius: 10px 10px 10px 10px;
}

.container h1 {
  font-weight: bold;
  font-size: 4em;
}

.filter-bar {
  display: flex;
  flex-direction: row;
  margin: 2.5em 0;
  align-items: center;
}

select, input {
  padding: 15px 20px;
  border: 2px solid;
  background-color: inherit;
  outline: none;
}

select {
  border-radius: 0;
}

#job {
  border-radius: 10px 0px 0px 10px;
}

#search-input {
  border-radius: 0px 10px 10px 0px;
}

.search-button {
  margin-left: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 4px black;
}

#search-button:hover {
  background-color: rgb(43, 59, 88);
  color: #fff;  

}

#search-bar {
  display: flex;
  align-items: center;
}

.home-text {
  padding: 30px;
  width: 40%;
  font-size: 18px;
  background-color: #80b8e3;
  border-radius: 4px 4px 4px 4px;

}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 800px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 80%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px 10px 10px 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
<<<<<<< HEAD
}
=======
}

#job-card {
  background-color: #80b8e3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  padding: 55px;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  margin: 10px;
}

.job-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
}





>>>>>>> jayden_branch
