{% extends "base.html" %}

{% block title %}
About Page
{% endblock %}

{% block main_content %}
<section class="container">
  <section class="about_title">
    <h2 class="about_title_text">ABOUT US</h2>
    <h3 class="about_subtitle">Making your job hunt fun</h3>
    <h4 class="about_text">Embark on a journey where job searching isn't just a task but an exciting adventure. With our innovative approach, we've redefined the job hunt, infusing it with excitement and joy. Say goodbye to boring searches and hello to a world where every opportunity is a thrill waiting to be discovered.</h4>
  </section>

  <div class="about_square_1">
    <br><br>
    <br><br>
    <h2 class="about_square_title">OUR MISSION</h2>
    <h3 class="about_square_subtitle">Unlock opportunities, embrace growth,</h3>
    <h3 class="about_square_subtitle">and explore new horizons.</h3>
    <h4 class="about_square_text">Our mission is to connect talented individuals with meaningful career opportunities, empowering them to reach their full potential. Whether you're a recent graduate taking your first steps into the professional world or an experienced professional seeking new challenges, Our Job Portal is here to help. Join our thriving community today and unlock a world of possibilities. Your next career adventure starts here, at Our Job Portal.</h4>
  </div>
  <div class="about_square_2">
    <br><br>
    <br><br>
    <h2 class="about_square_title_2">OUR COMMITMENT</h2>
    <h3 class="about_square_subtitle_2">Dedicated to your success</h3>
    <h4 class="about_square_text_2">At Our Job Portal, we are committed to providing an inclusive and supportive environment for all job seekers. We believe in equal opportunities and strive to eliminate barriers to employment. Our team works tirelessly to ensure that every individual, regardless of background or experience, has access to the resources and support they need to succeed. With a focus on diversity, equity, and inclusion, we aim to foster a community where everyone feels valued and empowered to pursue their career goals.</h4>
  </div>
  <div class="about_square_3">
    <br><br>
    <br><br>
    <h2 class="about_square_title_3">GET INVOLVED</h2>
    <h3 class="about_square_subtitle_3">Join our thriving community</h3>
    <h4 class="about_square_text_3">Ready to take the next step in your career journey? Join Our Job Portal today and start exploring exciting opportunities tailored to your skills and aspirations. Whether you're searching for full-time employment, part-time gigs, freelance projects, or internships, we've got you covered. Create your profile, upload your resume, and let our advanced matching algorithms connect you with the perfect job openings. Stay informed with personalized job alerts, networking events, and professional development resources. Your dream job is just a click away. Join us and let's make your career aspirations a reality together.</h4>
  </div>
  <br><br>
  <br><br>
  <br><br>
</section>
{% endblock %}
