<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/final_app/static/scripts/script.js" defer></script>
    <title>{% block title %} Our Job App {% endblock %}</title>
    <link rel="stylesheet" href="/final_app/static/style.css">
</head>
<header class="header">
    <a href="{% url 'home' %}" class="logo">Job<strong>Portal</strong></a>
    
    <nav class="nav-bar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'contact' %}">Contact</a>
    </nav>
</header>
<body>
{% block main_content %}
{% endblock %}
</body>
</html>
