{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block main_content %}
<section class="container">
    <section class="slogan">
        <h1 class="slogan-text">Discover a job that suits you!</h1>
        <div id="homepage_img">
            <img src="/static/godimg.png" alt="People illustration"/>
        </div>
    </section>

    <section class="filter-bar">
        <div class="job-filter">
            <select name="jobs" id="job-select">
                <option value="">Job Title</option>
                <option>Engineer</option>
                <option>Cashier</option>
                <option>Pilot</option>
            </select>
        </div>
        <div class="country-filter">
            <select name="countries" id="country-select">
                <option value="">Country</option>
                <!-- Dynamic country options will be populated here -->
            </select>
        </div>
        <div class="city-filter">
            <select name="cities" id="city-select" disabled>
                <option value="">City</option>
                <!-- Dynamic city options will be populated here -->
            </select>
        </div>
        <search id="search-bar">
            <form action="{% url 'results' %}">
              <input type="search" id="search-input" name="q" placeholder="Search for a Job" />
              <button class="search-button" type="submit"><svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 21L16.65 16.65M11 6C13.7614 6 16 8.23858 16 11M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></button>
            </form>
        </search>
    </section>
    <!-- <section class="home-text">
        <p>Thousands of opportunities from both global and local 
            companies are waiting for you! Dive into the possibilities and find 
            the perfect fit for your career. Discover more, and seize 
            the chance to grow and succeed. Don't miss out on these exciting
             opportunities – explore now, and take the next step towards your dream job!
        </p>
    </section> -->
    
    
    <section class="card-container">

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/static/jobicon.png" alt="job-icon" id="jobicon"/>
                </div>
                <div class="flip-card-back">
                    <div>
                        <h3>Variety</h3> 
                        <p>Explore a wide variety of job opportunities!</p>
                    </div>
                        
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/static/jobicon2.png" alt="job-icon" id="jobicon2"/>
                </div>
                <div class="flip-card-back">
                    <div>
                    <h3>Jobs</h3>
                    <p>Job<strong>Portal</strong> delivers the best jobs available!</p>
                </div>
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/static/jobicon3.png" alt="job-icon" id="jobicon3"/>
                </div>
                <div class="flip-card-back">
                <div>
                    <h3>Time</h3>
                    <p>Looking for a part-time or full-time job? It's up to you.</p>
                    
                </div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
