{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block main_content %}
    <h2>Welcome to JobPortal!</h2>
    <p class="para1">Your dream career is just a few clicks away. 
        At JobPortal, we connect talented individuals with top employers across various industries. 
        Whether you're looking to kickstart your career or seeking new opportunities, 
        our platform provides the resources and tools to help you succeed. Explore a vast array of job listings, 
        customize your job search, and apply with ease. Join the JobPortal community today and take the first step 
        towards your future success!</p>

    <div class="search-bar">
        <input type="text" id="job-search" placeholder="Search for jobs...">
        <button id="search-btn">Search</button>
    </div>

    <div class="job-listings">
        <h2>Job Listings</h2>
        <div id="jobs-container">
            <!-- Job postings will be dynamically inserted here -->
        </div>
    </div>

{% endblock %}